body {
  font-family: arial;
  font-size: 20px;
  color: gray;
}

.quiz {
  width: 650px;
  margin: 0 auto;
  margin-top: 100px;
}

.candidates {
  margin-top: 30px;
}

.player {
  text-align:center;
}

.quiz .buttonContainer {
  text-align: center;
}

input {
  margin-top: 20px;
}

.quiz button {
  width: 150px;
  height: 50px;
  font-size: 26px;
  margin-top: 30px;
}
