<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag 'jquery.mobile', :cache => true %>
  <%= javascript_include_tag 'jquery', 'jquery.mobile', :cache => true %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
