<html>
	<head>
		<script src="jquery-1.5.min.js"></script>
	</head>
	<% if @current_user.nil? %>
	<body>
		<h1>Login</h1>
		<form action="/home/login">
			email: <input type="text" name="login">
			<input type="submit" value="login">
		</form>
	</body>
	<% else %>
	<%= @current_user.to_yaml %>
	<% end %>
</html>