
<% if @current_user.nil? %>
  <div data-role="page" id="login">
   	<div data-role="header">
   		<h1>Login</h1>
   	</div>
   	<div data-role="content">
  		<form method="POST" action="/home/login">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  			email: <input type="text" name="login">
  			<input type="submit" value="login">
  		</form>
   	</div>
   	<div data-role="footer">
   		<h4>Page Footer</h4>
   	</div>
  </div>
   
  <% else %>
    <link rel="stylesheet" href="/stylesheets/game.css" type="text/css" />
    <script type="text/javascript" src="/javascripts/game.js"></script>

  <div data-role="page" id="play">
   	<div data-role="header">
   	  <h1><%= session[:guid] %> - Play!</h1>
   	</div>

 	<a href="/home/logout">Sign out</a>
    
    <script>
      
      var quiz = new Quiz(function() {
        $("body").append(quiz.generate())
      })
      
    </script>

 	<% end %>


