
<% if @current_user.nil? %>
  <div data-role="page" id="login">
   	<div data-role="header">
   		<h1>Welcome to ...</h1>
   	</div>
   	<div data-role="content">
  		<form method="POST" action="/home/login">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  			Email Address <input type="text" name="login">
  			<input type="submit" value="login">
  		</form>
   	</div>
   	<div data-role="footer">
   		<h4>Page Footer</h4>
   	</div>
  </div>
   
<% else %>
  <div data-role="page" id="play">	
   	<div data-role="navbar">
      <ul>
        <li><a href="/playme" class="ui-btn-active">Play</a></li>
        <li><a href="/topusers">Leaderboard</a></li>
      </ul>
    </div>
    <div data-role="content">
  	  <h1><%= session[:guid] %> - Play!</h1>
		<div id="game-content"></div>
  	  <a href="/home/logout">Sign out</a>    	
  	</div>
  </div>  	
<script>  
      var quiz = new Quiz(function() {
        $("body").append(quiz.generate())
      })
    </script>
<% end %>


