<html>
	<head>
		<script src="jquery-1.5.min.js"></script>
	</head>
	<body>
		<h2>Top Users</h2>
		<ul id="top-users">
		</ul>
	</body>
	<script type="application/javascript">
	$(document).ready(function() {
		$.getJSON('/home/gettopscores', function(data) {
			for(var i = 0; i < data.length; i++) {
				console.log(data[i]);
			}
		})
	})
	</script>
</html>