	<h2>Top Users</h2>
	<ul id="top-users">
	</ul>
<script type="application/javascript">
$(document).ready(function() {
	$.getJSON('/home/gettopscores', function(data) {
		for(var i = 0; i < data.length; i++) {
			$('#top-users').append('<li>(' + data[i]['score'] +  ' points) ' + data[i]['entry']['guid']);
		}
	})
})
</script>
