<div data-role="page" id="topusers">
 	<div data-role="navbar">
  		<ul>
  			<li><a href="/playme" class="ui-btn-active">Play</a></li>
  			<li><a href="/topusers">Leaderboard</a></li>
  		</ul>
  	</div>
  	<div data-role="content">
  	  the top users
  		<ul id="top-users">
  		</ul>
  	</div>  
</div>

