<div data-role="page" id="play">	
 	<div data-role="navbar">
    <ul>
      <li><a href="/playme" class="ui-btn-active">Play</a></li>
      <li><a href="/topusers">Leaderboard</a></li>
    </ul>
  </div>
  <div data-role="content">
	  play<br/>
	  <a href="/home/logout">Sign out</a>    	
	</div>
</div>