<div data-role="page" id="submitresult">
  <div data-role="content">
    <% if @guess %>
    <h2>You Win</h2>
    <% else %>
    <h2>You Suck</h2>
    <% end %>
    <a href="/playme" data-role="button">Try Again</a>
  </div>
</div>