<div data-role="page" id="topusers">
 	<div data-role="navbar">
		<ul>
			<li><a href="/playme">Play</a></li>
			<li><a href="/topusers" class="ui-btn-active">Leaderboard</a></li>
		</ul>
  </div>
  <div data-role="content">
  	<ul data-role="listview" id="top-users">
  	</ul>
  </div>  
</div>

